@{
    var homeUrl = Href("~/");
}
<a href="@homeUrl" title="@WorkContext.CurrentSite.SiteName"><h1 id="branding" class="logo"></h1></a>
<div style="background:url('/Themes/Blog/Styles/Images/Interface/bg-head.gif'); z-index:0; display:block;width:380px;height:142px;position:absolute;right:0;top:0;z-index:0;"></div>
<div style="background:url('/Media/Default/Images/Logos/ies-title.jpg'); z-index:0; display:block;width:582px;height:73px;position:absolute;right:20px;top:50px;z-index:20;"></div>