/******************/
/* SET DE COULEUR */
/* Titre  #dd5843 */
/* Liens  #d65337 */
/* Infos  #747474 */
/* Ombre  #0a9b9b */
/* H1     #dd5842 */
/* Comm   #f0fafc */
/******************/

/* Mise en Page Global */
body{margin:0;padding:0;text-align:center;background-color:#f6f6f6;font-size:12px;font-family:Arial,Verdana;}
h1{font-family:Arial;font-size:26px;margin:0;color:#dd5842;background:transparent url(Images/Interface/bg-title.gif) no-repeat left center;}
h2{font-family:Arial;font-size:20px;margin:0;color:#dd5843;}
h3,
h3 span{font-size:12px;margin:0;color:#ffffff;}
p,ul,a,label,span{margin:0;color:#403635;}
a:hover{text-decoration:none;}
ul{padding-left:20px;}
li{list-style-image:url(Images/Interface/puce-blue.jpg);}
a{color:#d65337;}
.global{width:900px;min-height:100%;text-align:left;margin:10px auto;position:relative;padding:0 5px;background:transparent url(Images/Interface/bg-page-mid.jpg) repeat-y left top;}
.container{border-top:1px solid #d6d6d6;}
.container .smp{padding-left:15px;}
.clr{clear:both;}
.right{background:transparent url(Images/Interface/bg-head.gif) no-repeat left top;display:block;width:380px;height:143px;position:absolute;right:6px;top:6px;}
.rssLinks{height:20px;line-height:20px;padding:0 0 0 20px;background:url(Images/Interface/rss.png) no-repeat left center;}
.rssLinks,
.rssLinks a,
.rssLinks span{vertical-align:middle;}

/* Mise en Page Header */
.header{height:150px;background:transparent url(Images/Interface/bg-page-top.jpg) no-repeat left top;position:relative;margin:0 -5px;}
.header .logo{background:transparent url(Images/Interface/logo.jpg) no-repeat 5px 5px;width:190px;height:124px;display:block;padding:5px;}
.header .banner{width:582px;height:73px;display:block;overflow:hidden;position:absolute;right:16px;top:43px;border:1px solid white;}
.header .banner img{width:100%;height:100%;}
.header .toolbar{width:100%;height:24px;position:absolute;bottom:0;}

/* Mise en Page Menu */
.menu{padding:5px 5px 5px 0;float:left;clear:both;}
.menu a{text-decoration:none;color:#403635;}
.menu a:hover,
.menu a:hover span{color:#d65337;text-decoration:underline;}
.menu h3,
.menu h3 span{white-space:nowrap;overflow:hidden;}
.menu .box{background:url(Images/Interface/bg-box-content.gif) repeat-y;margin-bottom:10px;}
.menu .box h3{display:block;background:url(Images/Interface/bg-box-top.gif) no-repeat;height:21px;padding:5px 11px 0 8px;}
.menu .widget h1{display:block;background:url(Images/Interface/bg-box-top.gif) no-repeat;height:21px;padding:5px 11px 0 8px; color: #FFFFFF;
    font-size: 12px;}
.menu .box .contentBox{width:auto;float:none;font-size:11px;background:url(Images/Interface/bg-box-bot.gif) no-repeat left bottom;padding:0 11px 5px 8px;}
.menu .box .contentBox ul{padding-left:0px;}
.menu .box ul.contentBox{padding-left:8px;}
.menu .box li{padding-bottom:5px;list-style:none;}
.menu .archives a{line-height:20px;display:block;}
.menu .archives .contentBox{height:120px;overflow:auto;}
.menu li>input{border:red 1px solid;}
.menu .recherche{position:absolute;white-space:nowrap;top:15px;right:5px;background:none;}
.menu .recherche h3{display:none;}
.menu .recherche a{color:white;font-weight:bold;}
.menu .recherche .contentBox{background:none;}
.menu .recherche .tbRecherche,
.menu .recherche .tbweRecherche{width:154px;height:18px;vertical-align:middle;line-height:18px;padding:0 3px;border:1px solid #403635;background:white url(Images/Interface/bg-tb.gif) no-repeat left top;}
.menu .recherche .tbweRecherche{color:#c7bab9;}
.menu .recherche .boutonRecherche{font-size:14px;font-weight:bold;font-style:italic;}
.menu .abonnement .itxt{width:100%;margin:5px 0;}
.menu ul.AspNet-Menu{height:30px;}
html>body .menu .archives .contentBox{height:auto;max-height:120px;}

/* Mise en Page Content */
.content{width:500px;padding:10px 4px 10px 0;float:left;overflow:hidden;font-size:12px;}
html>body .content{width:500px;padding:10px 5px;}
.content a{color:#d65337;}
.content h4{font-size:20px;margin:0 0 20px 0;text-transform:capitalize;font-weight:bold;display:block;}
.content .article{margin-bottom:10px;padding-top:5px;background:url(Images/Interface/bg-content.jpg) no-repeat;font-size:12px;}
.content .article h1, .content .article h2{background:url(Images/Interface/bg-title.gif) no-repeat left 2px;padding:5px 10px 10px 30px;}
.content .article h1 a, .content .article h2 a,
.content .article h1 span, .content .article h2 span{color:#DF8713;font-size:20px;letter-spacing:2px;text-decoration:none;}
.content .article h1 a:hover, .content .article h2 a:hover,
.content .article h1 span:hover, .content .article h2 span:hover{text-decoration:underline;}
.content .article ul{border:#DF8713 1px solid;padding:5px 5px 5px 20px;}
.content .article ol{padding:5px 5px 5px 20px;}
.content .article li{list-style-type:square;}
.content .article .headerArticle{height:auto;background:url(Images/Interface/bg-content-header.jpg) repeat-y;z-index:2;}
.content .article .contentArticle{width:auto;float:none;padding:15px 8px 10px 8px;background:white;}
.content .article .contentArticle p{padding-bottom:15px;}
.content .article p.infosArticle{color:#747474;padding:10px 5px;border-top:#c0c0c0 1px dotted;border-bottom:#c0c0c0 1px dotted;}
.content .comment{padding-bottom:15px;padding-top:15px;font-size:11px;}
.content .comment .headerComment{height:21px;line-height:21px;padding:0 25px 0 5px;position:absolute;margin-top:-20px;background:url(Images/Interface/bg-comment-arrow.jpg) no-repeat right top;}
.content .comment .headerComment strong{font-weight:normal;color:#d65337;}
.content .comment .imageComment{float:left;display:block;margin:-8px 10px 10px -2px;}
.content .comment .contentComment{width:auto;float:none;border:#949494 1px solid;background:#ffede9;padding:15px 10px 10px 10px;zoom:1;overflow:auto;}
.content .comment .dateComment{font-size:10px;padding:5px;}
.content .infos{border:#dfdfdf 1px dotted;border-left:none;border-right:none;padding:5px 0;margin-bottom:10px;}
.content .infos span{color:#868686;}
.content .comments{margin-top:25px;}

/* Mise en Page Sidebar */
.sidebar{width:190px;padding:5px 0 5px 5px;float:left;overflow:hidden;}
.sidebar a{text-decoration:none;color:#403635;}
.sidebar a:hover,
.sidebar a:hover span{color:#d65337;text-decoration:underline;}
.sidebar h3,
.sidebar h3 span{white-space:nowrap;overflow:hidden;}
.sidebar .box{background:url(Images/Interface/bg-box-content.gif) repeat-y;margin-bottom:10px;}
.sidebar .box h3{display:block;background:url(Images/Interface/bg-box-top.gif) no-repeat;height:21px;padding:5px 11px 0 8px;}
.sidebar .box .contentBox{width:auto;overflow:hidden;float:none;font-size:11px;background:url(Images/Interface/bg-box-bot.gif) no-repeat left bottom;padding:0 11px 5px 8px;}
.sidebar .box .contentBox ul{padding-left:0px;}
.sidebar .box ul.contentBox{padding-left:8px;}
.sidebar .box li{padding-bottom:5px;margin:0;list-style:none;}
.sidebar .archives a{line-height:20px;display:block;}
.sidebar .archives .contentBox{height:120px;overflow:auto;}
.sidebar li>input{border:red 1px solid;}
.sidebar .abonnement .itxt{width:100%;margin:5px 0;}
.sidebar ul.AspNet-Menu{height:30px;}
html>body .sidebar .archives .contentBox{height:auto;max-height:120px;}

/* Mise en Page Footer */
.footer{height:5px;clear:both;margin:0 -5px;background:transparent url(Images/Interface/bg-page-bot.jpg) no-repeat left bottom;display:block;}
.footer p{text-align:center;padding:5px 0;font-size:12px;}

/* Mise en Page Admin */
.menu .tv *{font-size:12px;border:red 1px solid;}
.menu .tv{overflow-x:auto;}
.menu .loginStatus{display:block;padding-top:15px;}
.menu .menuAdmin{border:red 1px solid;}
.content .gvOverflow{width:650px !important;overflow:auto;padding:5px;}
.content .form *{font-size:12px;}
.content .form,
.content .form iframe{width:500px !important;}
.content .form .box{margin:30px 0 0 0;clear:both;}
.content .btn{margin-top:15px;}
.content fieldset{border:#dfdfdf 1px solid;padding:10px;margin-top:10px;}
.content legend{color:#dd5843;font-weight:bold;}
.tele .contentBox a.wygtvimg,
.tele .contentBox img{width:60px;display:block;float:left;border:none;}
.tele .contentBox a.wygtvtitre{width:100px;display:block;float:right;color:#d65336;text-align:right;}
.tele .contentBox span{width:100px;display:block;float:right;text-align:right;}
.sondage .sondageQuestion{font-weight:bold;margin:0 0 10px 0;}
.sondage .sondageReponses{display:block;margin:10px 0;}
.sondage .sondageReponses *{vertical-align:middle;line-height:25px;}
.sondage .sondageValider,
.sondage .sondageSuivant{width:75px;height:20px;line-height:20px;display:block;font-weight:bold;color:White;border:none;background:url(Images/Interface/bg-boutonSondage.jpg) no-repeat;margin:10px auto 0 auto;cursor:pointer;}

/* Mise en Page Calendar */
.calendrier{}
.calendrier h3{height:16px !important;}
.calendrier .contentBox{padding:0 3px 3px 3px !important;}
.calendrier table.calendar,
.calendrier table.calendar table{width:100%;border:none !important;}
.calendrier table.calendar td{background:White !important;}
.calendrier table.calendar table.calendarHead{background:White;border-bottom:#d65337 1px solid !important;}
.calendrier table.calendar table.calendarHead td{color:#d65337;font-size:14px;font-weight:bold;text-transform:capitalize;}
.calendrier .calendar td{color:#403635;padding:2px 0;}
.calendrier .calendar a{color:#d65337 !important;text-decoration:underline;}
.calendrier .calendar a:hover{text-decoration:none;}
.calendrier .calendarHead td{width:100% !important;}
.calendrier .calendarHead td.calendarArrow{width:14px !important;display:block;}
.calendrier .calendarNext{width:14px;height:14px;display:block;background:url(Images/Interface/bg-calender-arrowRight.jpg) no-repeat;text-decoration:none !important;}
.calendrier .calendarPrev{width:14px;height:14px;display:block;background:url(Images/Interface/bg-calender-arrowLeft.jpg) no-repeat;text-decoration:none !important;}
.calendrier .calendar .calendarOthers,
.calendrier .calendar .calendarOthers a{color:#cacaca !important;}

.pnlModalPopupHeader{width:443px;height:23px;line-height:23px;padding:0 10px;background:url(Images/Interface/bg-boxModal-top.gif) no-repeat;}
.pnlModalPopupHeader a{line-height:23px;float:right;color:White;text-decoration:underline;}
.pnlModalPopupHeader a:hover{text-decoration:none;}
.pnlModalPopupHeader span{font-weight:bold;color:White;}
.pnlModalPopupBody{width:445px;height:384px;padding:8px;position:relative;overflow:auto;border:1px solid #cccccc;border-top:none;background-color:White;}
.listComments{padding:0;margin:10px 0;border-top:1px dotted gray;}
.listComments li{height:25px;padding:0 5px 0 0;margin:0;border-bottom:1px dotted gray;}
.listComments span{height:25px;line-height:25px;display:block;float:left;}

.tags .contentBox{height:132px;overflow:auto;}
html>body .tags .contentBox{height:auto;max-height:132px;}
.Tag7,
.Tag6,
.Tag5,
.Tag4,
.Tag3,
.Tag2,
.Tag1{line-height:22px;margin:0 3px;text-decoration:none;vertical-align:middle;white-space:nowrap;}
.Tag7{font-size:17px;font-weight:900;}
.Tag6{font-size:14.6px;font-weight:900;}
.Tag5{font-size:16.6667px;font-weight:800;}
.Tag4{font-size:14.93333px;font-weight:600;}
.Tag3{font-size:13.8px;font-weight:600;}
.Tag2{font-size:13px;font-weight:500;}
.Tag1{font-size:11.5333px;font-weight:200;}

.realisation {display:block;background:url(Images/Interface/bg-box-top2.gif) no-repeat;height:21px;padding:5px 11px 0 8px;font-size:12px;margin:0;color:#ffffff;}


.sharedArticle{height:20px;margin:10px 20px;}
.sharedArticle a{padding:2px 0 2px 20px;float:left;margin-right:10px;font-weight:bold;text-decoration:none;}
.sharedArticle a.sharedArticleHome{background:url(Images/bg-house.png) no-repeat left center;}
.sharedArticle a.sharedArticleSend{background:url(Images/bg-email.png) no-repeat left center;}
.sharedArticle a.sharedArticleShare{background:url(Images/bg-package.png) no-repeat left center;}
.sharedArticle .sharedArticleShareBox{padding:5px;border:Black 1px solid;background:White;}
.sharedArticle .sharedArticleShareBox a{line-height:20px;margin:0;padding:0;display:block;float:none;}
.sharedArticle .sharedArticleShareBox span{vertical-align:middle;}
.sharedArticle .sharedArticleShareBox img{border:none;margin-right:5px;vertical-align:middle;}
* html .sharedArticle a.sharedArticleHome{background:url(Images/bg-house.gif) no-repeat left center;}
* html .sharedArticle a.sharedArticleSend{background:url(Images/bg-email.gif) no-repeat left center;}
* html .sharedArticle a.sharedArticleShare{background:url(Images/bg-package.gif) no-repeat left center;}

.themeAlike h3,
.themeZoom h3{padding:5px 10px;font-size:20px;font-weight:bold;color:White;background:#d65337;}
.themeAlike ul,
.themeZoom ul{margin:10px;padding:0;list-style:none;}
.themeAlike li,
.themeZoom li{padding:3px 0 3px 10px;background:url(Images/bg-puce.gif) no-repeat 0px 8px;}
.themeAlike a,
.themeZoom a{text-decoration:none;}
.themeAlike a:hover,
.themeZoom a:hover{text-decoration:underline;}

.abonnement .rssLinks .rssLinksRss{padding-left:21px;background:url(Images/bg-rss.gif) no-repeat left top;}

.contentComment h3, .listCommentsName h3{color:#D65337;}